.users {
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user {
  flex-basis: 25%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
  height: 280px;
  line-height: 80%;
  background-color: #fff;
}

.title {
  text-align: center;

  font-weight: 700;
  font-size: 70px;
  color: #fff;
}
body {
  background: rgb(16, 239, 184);
  background: linear-gradient(
    90deg,
    rgba(16, 239, 184, 1) 0%,
    rgba(70, 144, 207, 1) 33%,
    rgba(118, 56, 194, 1) 100%
  );
}

.title2 {
  font-family: sans-serif;
  font-weight: 600;
  color: black;
}
.title3 {
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(124, 114, 114);
}
.title4 {
  font-size: 18px;
  font-weight: 400;
  color: #595c5f;
}

.text,
.email {
  font-size: 18px;
  font-weight: 400;
  color: #575151;
}
.id {
  text-align: center;
}

.post {
  width: 1000px;
  height: 220px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-left: 120px;
}

.btn {
  border: 0px;
  padding: 12px;
  border-radius: 10px;
  margin-left: 30px;
  background-color: #0dcaf0;
  color: #fff;
}
.btn2 {
  color: white;
  background-color: #0d49f0;
}
.btn3 {
  width: 200px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
  height: 20px;
  line-height: 80%;
  background-color: #fff;
  font-size: 11px;
  color: #212529;
  margin-top: 15px;
  margin-left: 120px;
}

.album {
  margin-top: 20px;
  background-color: #fff;
  width: 250px;
  height: 150px;
  color: black;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.albums {
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.photos {
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.photo {
  margin-top: 20px;
  background-color: #fff;
  width: 250px;
  height: 350px;
  color: black;
  padding: 20px;
  // padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.img {
  width: 220px;
  height: 220px;
}

.comment {
  margin-top: 50px;
  padding: 20px;
  padding-top: 5px;
  margin-left: 120px;
  width: 1000px;
  background-color: #198754;
  color: #ffff;
}
.commetId {
  color: white;
  text-align: center;
}
.comment_email {
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.comment_hr {
  // width: 800px;
  // height: 1px;
  // background-color: #198754;
  border: 1px solid #005b30;
}
.comment_title {
  font-family: sans-serif;
  font-weight: 500;
  color: white;
}
.comment_text {
  font-size: 18px;
  font-weight: 400;
  color: white;
}
